@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: "Inter", sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 228, 231, 242; /* Atualizado para a cor desejada */
  --background-end-rgb: 228, 231, 242;   /* Mantendo a mesma cor */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 228, 231, 242; /* Mantendo a mesma cor no tema escuro */
    --background-end-rgb: 228, 231, 242;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgba(228, 231, 242, 1)) rgba(228, 231, 242, 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
